.aboutContainer {
    margin-top: 10vh;
    overflow: hidden;
}

.aboutText {
    position: relative;
    display: inline-block;
    padding-bottom: 1vh;
    padding-top: 1vh;
    padding-left: 2vw;
    min-height: 60vh;
    @media only screen and (min-width: 1000px) {
        max-width: 30vw;
        min-width: 30vw;
    }
    @media only screen and (min-width: 2000px) {
        max-width: 30vw;
        min-height: 600px;
        padding-bottom: 1vh;
    }
    
}

.AboutPhoto {
    position:relative;
    margin-top: 1vh;
    width: 60vw;
    display: block;
    margin-left: 20vw;
    margin-bottom: 10vh;
    border-radius: 100%;
    @media only screen and (min-width: 1000px) {
        width: 30vw;
        position:absolute;
        vertical-align:25%;
        display: inline-flex;
        margin-left: 5vw;
        margin-top: 2vh;
        max-width: 600px;
    }
    @media only screen and (min-width: 2000px) {
        max-width: 600px;
    }
}

.details {
    position: relative;
    display: inline-block;
    width: auto;
    margin-left: 10vw;
    @media only screen and (min-width: 1000px) {
        float: right;
        width: 22.5vw;
        margin-right: 5vw;
    }
    align-content: center;
}