.contactPage {
    margin-top: 10vh;
    margin-bottom: 10vh;
    overflow: hidden;
}

.contact-envelope {
    width: 10vw;
    padding-left: 5vw;
    padding-top: 5vh;
    padding-bottom: 2vh;
    display: none;
    @media only screen and (min-width: 1000px) {
        display: inline-block;
        width: 20vw;
    }
    @media only screen and (min-width: 1500px) {
        display: inline-block;
        width: 30vw;
    }
}

.credits {
    font-size: smaller;
    float:left;
    color: gray;
    padding-left: 5vw;
    padding-bottom: 3vh;
    opacity: 50%;
    display: none;
    @media only screen and (min-width: 1000px) {
        display: inline-block;
    }
}