.title {
    float: left;
    cursor: pointer;
    padding-top: 2vh;
    padding-bottom: 2vh;
    max-height: 7vh;

}

.title-picture {
    cursor: pointer;
    max-height: 7vh;
    padding-right: 1vw;
}