.PortfolioPage {
    overflow: hidden;
}

.PortfolioColumn {
    display: inline-block;
    vertical-align: top;
    width: 32.5vw;
}

.picture {
    overflow: hidden;
    position: relative;
    display: block;
    width: 95%;
    padding: 5%;
}