.GitHubRepo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.GitHubRepoBox {
    // layout:"fill";
    // position: relative;
    // background-color: white;
    // border: 2px solid black;
    // width: 350px;
    // height: 200px;
    display: inline-block;
    // padding-top: 1vh;
    // padding-left: 1vw;
    // padding-right: 1vw;
    // padding-bottom: 10vh;
    // text-align: center;
    // border-radius: 25px;
    // vertical-align: top;
    margin: 1vh;
    cursor: pointer;
}

.GitHubRepoBoxTitle {
    position: relative;
    color: black;
    border-bottom: 0.5px solid black;
    width: 100%;
    padding-bottom: 5px;

}

.GitHubStats {
    color: black;
    position: absolute;
    bottom: 1vh;
    left: 2vw;
    width: 290px;
}

.GitHubRepoBoxDescription {
    color: black;
    position: relative;
    height: 102%;
    overflow-y: scroll;
}

.GitHubRepoBoxStar {
    color: black;
    display: inline-block;
    margin-right: 0.25vw;
    margin-bottom: 0.15vh;
}

.GitHubRepoBoxStarText {
    color: black;
    display: inline-block;
    margin-right: 0.25vw;
    vertical-align: top;
}


.GitHubRepoBoxStarBox {
    float: left;
}

.GitHubRepoBoxLanguages {
    float: right;
}

.GitHubRepoBoxLanguage {
    color: black;
    display: inline-block;
    margin-right: 0.25vw;
}

.GitHubRepoBoxLanguageText {
    display: inline-block;
    vertical-align: top;
}