.titleText {
    float: left;
    cursor: pointer;
    padding-top: 2vh;
    padding-bottom: 2vh;
    max-height: 7vh;

}

.title {
    cursor: pointer;
}

.titlePicture {
    cursor: pointer;
    max-height: 7vh;
    max-width: 6vh;
    padding-right: 1vw;
}